# Dependencias
node_modules/
*/node_modules/

# Compilación y producción
dist/
build/

# Logs del sistema
*.log
npm-debug.log*
yarn-debug.log*

# Variables de entorno
.env
.env.local

# Archivos de SO y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
